/* Global styles */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.orange {
  color: orange;
}

.img-responsive {
  width: 100%;
  object-fit: contain;
}

button {
  background-color: orange;
  border: none;
  padding: 10px;
  border-radius: 15px;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: rgb(80, 56, 12);
}

/* ---------------------------- */

.navBar {
  position: sticky;
  top: 0;
  background-color: rgb(221, 205, 150, 0.5);
}

.topNav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
}

.topNav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.navItems a {
  margin-right: 10px;
}

.navItems a:hover {
  color: orange;
}

/* welcome styles */

.welcomeMain {
  display: flex;

  margin: 0 2%;
}

.welcomeMain .welcomeLeft {
  width: 50%;

  padding-left: 20px;
  margin-top: 100px;
}

.welcomeMain .welcomeLeft h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.welcomeMain .welcomeLeft p {
  margin-bottom: 10px;
}

.welcomeMain .welcomeRight {
  width: 50%;
}

.welcomeMain .welcomeRight img {
  max-width: 100%;
  object-fit: contain;
}

/* Recipies Section */

.recipiesMain .recipiesHead h1 {
  margin-bottom: 10px;
  text-align: center;
}

.recipiesMain .recipiesHead h5 {
  margin-bottom: 10px;
  text-align: center;
  color: gray;
}

.recipiesMain .recipiesControl {
  display: flex;
}


.recipiesBox{
    margin: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
}

.recipiesBox img{
    margin-bottom: 35px;
}

.imgDesc p {
    color: gray;
}
